body{
    background-color: #4b4b4b;
    background-image: url('../_img/logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#btn-mobile{
    display: none;
}

@media(max-width: 600px){
    #btn-mobile{
        display: block;
    }
    #nav{
        display: none;
    }
}