@charset "utf-8";
body {
	background-color: pink;
}
.video {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.video:hover {
  border: 1px solid #777;
}

.video img {
  width: 100%;
  height: auto;
}